@font-face { 
    font-family: Retro; src: url('fonts/ChiKareGo2.ttf');
} 

h1 {
    font-family: Retro; 
    color: var(--color-primary);
    font-size: 2.8em;
    margin-bottom: 6px;
} 
h2 {
    font-family: Retro; 
    color: var(--color-secondary);
} 
h3 {
    font-family: Retro; 
    color: var(--color-tertiary);
}
samp,
aside {
    color: black;
}

/* Colors override */
@media (prefers-color-scheme: light){
:root {
    --color-primary: #009ddc;
    --color-secondary: #e03a3e;
    --color-tertiary: #fdb827;
    --font-size:1rem;
  }
}
@media (prefers-color-scheme: dark){
:root {
    --color-primary: #009ddc;
    --color-secondary: #e03a3e;
    --color-tertiary: #fdb827;
    --font-size:1rem;
  }
}

/* https://codepen.io/team/css-tricks/pen/gOXMgxR */

a {
text-decoration: none;
  background:
    linear-gradient(
      to right,
      rgb(0, 157, 220),
      rgb(0, 157, 220)
    ),
    linear-gradient(
      to right,
        rgb(97, 187, 70),
        rgb(245, 130, 31),
        rgb(224, 58, 62),
        rgb(150, 61, 151),
        rgb(0, 157, 220)

/*      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)*/
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}


/* original colors:
--color-primary: #2c62af;
--color-secondary-dark: #263342;
--color-secondary: #cfdef3;
--color-tertiary: #edf2f6;
--color-background: #fff;
--color-text: #0c0c0c;
--color-border: #0c0c0c;
--color-grey: #f1f1f1;
--color-dark-grey: #ababab;
--color-darker-grey: #818181;
--color-green: #8ae77a;
--color-red: #dc4e4e;
--color-yellow: #eac66a;
--offset-text-color: #f1f1f1; */
